In [1]:
# 1. sum of elements in list

list_a = [-1,2,3,6,0,-100,235]
sum = 0

for i in list_a:
    sum += i

print(sum)

145

In [2]:
# 2. Multiply all numbers in the list

list_a = [-1,2,3,6]
temp = 1

for i in list_a:
    temp = temp*i
 
print(temp)

-36

In [4]:
# 3. smallest number in a list

list_a = [-1,2,3,6,0,-100,235]
temp = list_a[0]

for i in list_a:
    if i < temp:
        temp = i
print("The smallest number is {}".format(temp))

The smallest number is -100

In [5]:
# 4. largest number in a list

list_a = [-1,2,3,6,0,-100,235]
temp = list_a[0]

for i in list_a:
    if i > temp:
        temp = i
print("The largest number is {}".format(temp))

The largest number is 235

In [6]:
# 5. second largest number in a list

list_a = [-1,2,3,6,0,-100,235]
list_a.sort()
n = len(list_a)
print("The second largest number is {}".format(list_a[n-2]))

The second largest number is 6

In [10]:
# 6. N largest elements from a list

list_a = [-1,2,3,6,0,-100,235]
list_a.sort()

n = len(list_a)
N = int(input("N value?"))
        
print("The {}th largest number is {}".format(N, list_a[n-N]))

N value?5
The 5th largest number is 0

In [12]:
# 7. Even numbers in a list

list_a = [-1,2,3,6,0,-100,235]
print("The even numbers are:")
for i in list_a:
    if (i%2==0):
        print(i)

The even numbers are:
2
6
0
-100

In [14]:
# 8. odd numbers in a List

list_a = [-1,2,3,6,0,-100,235]
print("The odd numbers are:")
for i in list_a:
    if (i%2!=0):
        print(i)

The odd numbers are:
-1
3
235

In [15]:
# 9. Remove empty List from List

list_b = [1, 6, [], 30, [], [], 999]

revised_list = [i for i in list_b if i!=[]]

print(revised_list)

[1, 6, 30, 999]

In [16]:
# 10. Cloning or Copying a list

list_a = [-1,2,3,6,0,-100,235]
list_c = list_a.copy()

print("The cloned list is:{}".format(list_c))

The cloned list is:[-1, 2, 3, 6, 0, -100, 235]

In [18]:
# 11. Count occurrences of an element in a list

def countX(lista, x):
    count = 0
    for ele in lista:
        if (ele == x):
            count = count + 1
    return count
 
list_d = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(list_d, x)))

8 has occurred 5 times